body{
    background-image: url('../img/pattern.jpg');
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color:#ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav{
    float:right;
}

header nav ul{
    padding:15px 0;
    margin:0;
}

header nav ul li{
    display: inline;
    list-style: none;
    padding: 0 15px;
}

header nav ul a{
    font-weight: bold;
    text-decoration: none;
}

header nav ul a:hover{
    text-decoration: underline;
}

section{
    width:950px;
    margin : 70px auto 10px;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 6px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 8px -4px rgba(0,0,0,0.75);
}

section h1{
    text-align: center;
}

section a{
    text-decoration: none;
    font-size: 14px;
}

section a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

article{
    border-bottom: 0.5px solid #999999;
}

article p{
    font-size: smaller;
}

footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 1px;
}